# Ignorar archivos de entorno virtual
env/
venv/

# Caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración local de IDEs y editores
.vscode/
.idea/
*.iml

# Archivos de sistema
.DS_Store
Thumbs.db

# Dependencias y archivos generados por PIP
*.egg-info/
dist/
build/

# Archivos de registro y logs
tmp/
logs/
*.log

# Submódulos externos (si no queremos subirlos)
llama.cpp/

# Configuración de Docker (si es necesario)
*.dockerignore
docker-compose.yml

watchers/watchers-env/bin/libggml-cuda.so
