name: Watchers CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: И Ejecutar Pruebas
    runs-on: ubuntu-latest

    steps:
      - name:  Clonar repositorio
        uses: actions/checkout@v3

      - name: 锔 Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name:  Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install PyYAML

      - name:  Verificar ejecuci贸n de `malla_watcher.py`
        run: |
          python modulo/malla_watcher.py &
          sleep 10
          ps aux | grep "malla_watcher"

      - name:   Definir un puerto aleatorio para evitar conflictos
        run: echo "PORT=$((5000 + RANDOM % 1000))" >> $GITHUB_ENV

      - name: И Ejecutar pruebas con pytest
        run: pytest ./test/

  lint:
    name:  Verificar Calidad del C贸digo
    runs-on: ubuntu-latest

    steps:
      - name:  Clonar repositorio
        uses: actions/checkout@v3

      - name: 锔 Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name:  Instalar herramientas de calidad de c贸digo
        run: |
          pip install flake8 black

      - name:  Verificar con Flake8
        run: flake8 watchers/watchers_wave/

      - name:  Formatear c贸digo con Black
        run: black --check src/
